.loader {
	color: #070f0d;
	font-size: 35px;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	animation: load 1.3s infinite linear;
	margin: 200px 0px 150px 60px;
}

@keyframes load {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
			-2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
			-2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
			-2em -2em 0 0.2em;
	}
}

#root {
	margin: 35px auto;
	max-width: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-family: 'Roboto';
	position: relative;
}
h3 {
	margin: 5px 0;
}
p {
	margin-top: 0;
}
.card {
	border: 2px solid #c2c7c6;
	border-radius: 10px;
	padding: 10px;
	background-color: #ebe7e7;
	transition: all 0.3s ease 0s;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}
.card:hover {
	background-color: #f0f0f0;
}
.card__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__username {
	padding: 0 20px;
	color: #646867;
}

.btn {
	background-color: #2acbfb;
	border-color: #2acbfb;
	margin: 0 5px;
	width: 55px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	position: absolute;
	top: 15px;
}
.btn__edit {
	right: 65px;
}
.btn__del {
	right: 0;
}
.btn:hover {
	padding: 3px 0;
}
.btn__add{
	width: 90px;
	top: -22px;
	left: 330px;
}
.card__block {
	margin-top: 10px;
}
.card__title {
	padding-left: 10px;
}
                    
/*****  Modal  *****/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
 }
 
 .modal__content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: 400px;
 }
 
 form {
	display: flex;
	flex-direction: column;
 }
 
 label {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
 }
 
 input, textarea {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 }
 textarea{
	height: 90px;
 }
 #submit-btn {
	background-color: #2acbfb;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	width: 100px;
	margin-bottom: 10px;
	align-self: center;
 }
 
 #submit-btn:hover {
	background-color: #0069d9;
 }
 
 #cancel-btn {
	background-color: #787373;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	width: 100px;
	align-self: center;
 }
 
 #cancel-btn:hover {
	background-color: #424141;
 }