ul {
	list-style: none;
	padding-left: 0;
}

.centered-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50vh;
   margin-bottom: -50vh;
}

.tabs {
	display: flex;
}

.tabs-title {
	padding: 20px;
	background-color: #23201D;
	color: #937341;
	cursor: pointer;
}

.tabs-title.active {
	background-color:#937341 ;
	color: #23201D;
}

.tabs-item {
	display: none;
	padding-bottom: 25vh;
   margin-bottom: -25vh;
}

.tabs-item.active{
	display: block;
	
}
