/*-----Обгортка-----*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/*-----Контейнер-----*/
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 15px;
}

.cards {
	background-color: rgb(251, 251, 251);;

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	&__title{
		text-align: center;
		flex: 1 100%;
	}

}
