 /*-----Обгортка-----*/
 .wrapper {
	min-height: 100%;
	overflow: hidden;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:0 100%;
}

/*--------Header--------*/
.header {
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: all 0.6s ease 0s;	
}
.header:hover {
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.41;	
}
.header:hover .action::before {
	opacity: 0.1;
	transition: all 0.3s ease 0s;
}
.header__container {
	margin: 0px 79px;
	padding: 16px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;	
}
.header__logo {
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	transition: all 0.3s ease 0s;
}
.header__logo:hover {
	font-size: 20px;
	line-height: 20px;
	color: #3CB878;
	padding-left: 2px;	
}
.menu {
	display: flex;
	justify-content: space-between;
}
.menu__link .menu__svg{
	transition: all 0.3s ease 0s;
}
.menu__link:hover .menu__svg {
	fill: #3CB878;
}
.menu__link:first-child {
	padding-right: 27px;
}
.menu__link:nth-child(2) {
	padding-right: 24px;
}
.action {
	margin-left: 48px;
	align-self: center;
	position: relative;
}
.action::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 19px;
	background: rgba(255, 255, 255, 0.9);
	mix-blend-mode: normal;
	opacity: 0.5;
	top: -3px;
	left: -27px;
	transition: all 0.3s ease 0s;
}
.action__link {
	transition: all 0.3s ease 0s;
}
.action__link:hover {
	color: #3CB878;
}

/* -----Main----- */
.page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 58px);
}
.form__body {
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
	padding: 0px 60px;
	position: relative;
}
.form__body::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: #3CB878;
	left: 0;
	top: 33px;
}
.form__container {
	max-width: 324px;
	display: flex;
	flex-direction: column;
}
.action-form__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0px 12px 0px;
}
.action-form__title {
	font-size: 20px;
	line-height: 20px;
	color: #434343;
}
.action-form__user {
	color: #3CB878;
	transition: all 0.3s ease 0s;
}
.action-form__user:hover {
	color: #01813F;
	text-decoration: underline;	
}
.button-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.button-action__link {	
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	border-radius: 3px;
	display: flex;
	align-items: center;
	position: relative;
}
.button-action__link::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 28px;
	left: 48px;
	top: 10px;	
	mix-blend-mode: normal;
	opacity: 0.1;
}
.button-action__link:first-child {
	background-color: #305DB8;	
	padding: 12px 20px 12px 16px;	
	margin-right: 10px;	
	transition: all 0.3s ease 0s;
}
.button-action__link:first-child:hover {
	background-color: #022263;	
}
.button-action__link:first-child::before {
	background-color: #0A162F;
}
.button-action__link:last-child {
	background-color: #DF4A32;	
	padding: 14px 27px 15px 10px;
	transition: all 0.3s ease 0s;
}
.button-action__link:last-child:hover {
	background-color: #AB1F09;	
}
.button-action__link:last-child::before {
	background-color: #2B0D09;
}
.button-action__link:first-child span,
.button-action__link:last-child span{	
	padding-left: 38px;
}
.form__legend {
	color: #848484;
	text-align: center;
	margin: 32px 0px 12px 0px;
	position: relative;
}
.form__legend::before,
.form__legend::after {
	content: '';
	width: 150px;
	height: 1px;
	background-color: #F2F2F2;
	position: absolute;
	top: 8px;
}
.form__legend::before {
	left: 0;
}
.form__legend::after {
	right: 0;
}
.form__list-items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form__item input{
	color: #BEBEBE;
	border: 1px solid #F2F2F2;
	border-radius: 4px;
	padding: 14px 0px 13px 20px;
	width: 100%;
	margin-bottom: 14px;
}
.form__item:last-child input{
	margin-bottom: 12px;
}
.form__item input:focus {
	color: #434343;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox-form {
	display: flex;	
	padding: 3px 0px;
}
.checkbox-form__item {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	color: #434343
}
.checkbox-form__checkmark {
	position: absolute;
	top: -3px;
	left: 1px;
	height: 20px;
	width: 20px;
	padding: 3px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #F2F2F2;
}
.checkbox-form__item input:checked + .checkbox-form__checkmark::after{
	display: block;
}
.checkbox-form__checkmark::after {
	content: '';
	position: absolute;
	display: none;
}
.checkbox-form__item .checkbox-form__checkmark::after {
	border: 2px solid #3CB878;
	left: 5px;
   top: 1px;
   border-width: 0 2px 2px 0;
   width: 8px;
   height: 14px;
   transform: rotate(30deg);
	transition: all 0.3s ease 0s;
}
.checkbox-form__item:hover .checkbox-form__checkmark::after {
	border-color: #01813F;
}
.checkbox-form__link {
	color: #3CB878;
	transition: all 0.3s ease 0s;
}
.checkbox-form__link:hover {
	color: #01813F;
	text-decoration: underline;	
}
.form__submit {
	background-color: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 20px 0px 37px 0px;
	text-align: center;
	padding: 16px 0px;
	cursor: pointer;
	transition: all 0.6s ease 0s;
}
.form__submit:hover {
	background-color: #01813F;
}
