.form {
	display: flex;
  	flex-direction: column;
  	// gap: 16px;
  	padding: 32px;
  	background-color: #f0f0f0;
  	border-radius: 10px;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 20px 5px;
	align-self: flex-start;

	& label {
		display: block;
  		font-weight: bold;
  		// margin-bottom: 8px;
	}

	& input,
	& textarea {
		font-family: 'Roboto';
		width: 300px;
		padding: 8px;
  		border: none;
  		background-color: #e9e9e4;
  		border-radius: 5px;
  		box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
              inset -2px -2px 5px rgba(255, 255, 255, 0.5);
	}

	&__error {
		color:red;
		height: 19px;
		font-size: 14px;
		// padding: 5px 0;
	}
}

.btn-form {
	background-color: #4a86e8;
	color: #fff;
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
					-2px -2px 5px rgba(255, 255, 255, 0.5);

	&:hover {
		background-color: #3972c1;
	}

 }
 