<footer class="footer">
	<div class="footer__container">
		<div class="footer__body body-footer">
			<h2 class="body-footer__title">- get in touch with us -</h2>
			<div class="body-footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></div>
			<div class="body-footer__socials socials-footer">
				<a href="#" class="socials-footer__item"><img src="@img/footer/1_RSS.svg" alt="RSS"></a>
				<a href="#" class="socials-footer__item"><img src="@img/footer/2_Facebook.svg" alt="Facebook"></a>
				<a href="#" class="socials-footer__item"><img src="@img/footer/3_Twitter.svg" alt="Twitter"></a>
				<a href="#" class="socials-footer__item"><img src="@img/footer/4_Dribbble.svg" alt="Dribbble"></a>
				<a href="#" class="socials-footer__item"><img src="@img/footer/5_Pinterest.svg" alt="Pinterest"></a>
			</div>
			<div class="body-footer__contacts contacts-footer">
				<a href="" class="contacts-footer__link">Moonshine St. 14-05 Light City</a>
				
				<a href="tel:+001234567890" class="contacts-footer__link">T. +00 (123) 456 78 90</a>
				
				<a href="mailto:first.last@email.com" class="contacts-footer__link">first.last@email.com</a>
			</div>
		</div>
	</div>
</footer>