<section class="page__posts posts">
	<div class="posts__container">
		<h2 class="posts__title page--title">- our Recent posts</h2>
		<div class="posts__body">
			<div class="posts__column">
				<div class="posts__item item-posts">
					<div class="item-posts__image">
						<img src="@img/posts/post1.png" alt="Photography">
					</div>
					<div class="posts__content content-posts">
						<h3 class="content-posts__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<div class="content-posts__desc">
							Photography, Journal <span>/</span> 9 Comments
						</div>
						<div class="content-posts__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
						</div>
					</div>
				</div>
			</div>
			<div class="posts__column">
				<div class="posts__item item-posts">
					<div class="item-posts__image">
						<img src="@img/posts/post2.png" alt="Photography">
					</div>
					<div class="posts__content content-posts">
						<h3 class="content-posts__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<div class="content-posts__desc">
							Photography, Journal <span>/</span> 9 Comments
						</div>
						<div class="content-posts__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
						</div>
					</div>
				</div>
			</div>
			<div class="posts__column">
				<div class="posts__item item-posts">
					<div class="item-posts__image">
						<img src="@img/posts/post3.png" alt="Photography">
					</div>
					<div class="posts__content content-posts">
						<h3 class="content-posts__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<div class="content-posts__desc">
							Photography, Journal <span>/</span> 9 Comments
						</div>
						<div class="content-posts__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
						</div>
					</div>
				</div>
			</div>
			<div class="posts__column">
				<div class="posts__item item-posts">
					<div class="item-posts__image">
						<img src="@img/posts/post4.png" alt="Photography">
					</div>
					<div class="posts__content content-posts">
						<h3 class="content-posts__title">
							Aenean Adipiscing Etiam Vestibulum
						</h3>
						<div class="content-posts__desc">
							Photography, Journal <span>/</span> 9 Comments
						</div>
						<div class="content-posts__text">
							Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>