<section class="page__shots shots">
	<div class="shots__container">
		<div class="shots__info info-shots">
			<h2 class="info-shots__title page--title">- Latest Instagram Shots</h2>
			<a href="#" class="info-shots__link">go to our instagram page -</a>
		</div>
		<div class="shots__body">
			<div class="shots__item item-shots--ibg"><img src="@img/shots/shots_1.png" alt="Picture"></div>
			<div class="shots__item item-shots--ibg"><img src="@img/shots/shots_2.png" alt="Picture"></div>
			<div class="shots__item item-shots--ibg"><img src="@img/shots/shots_3.png" alt="Picture"></div>
			<div class="shots__item item-shots--ibg"><img src="@img/shots/shots_4.png" alt="Picture"></div>
		</div>
	</div>
</section>