/* Обнулення */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #FFFFFF;
	font-size: 16px;
	color: #373737;
	font-weight: 700;
	font-family: 'Montserrat';
}
/*-----Обгортка-----*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 1280px;
	margin: 0 auto;
}
/*-----Header-----*/
.menu {
	padding: 30px 0px;
}
.menu__item {
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	text-align: center;	
}
.menu__item:first-child {
	margin: 0px 72px 0px 323px;
}
.menu__item:nth-child(2){
	margin: 0px 72px 0px 0px;
}
.menu__item:nth-child(3){
	margin: 0px 50px 0px 0px;
}
.menu__item:last-child {
	margin: 0px 323px 0px 0px;
}
.menu__link {
	color: #FF0000;
}
/*-----Main-----*/
.simple-photo__title {
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	margin: 48px 253px 38px 253px;
	text-align: center;
}
.simple-photo__content {
	font-weight: 400;
   line-height: 26px;
	text-align: center;
   letter-spacing: 2.4px;
	margin: 0px 67.5px 28px 67.5px;	
}
.simple-photo__button {
	margin: 38px 544.5px 42px 544.5px;
	padding: 19px 43.5px 18px 42.5px;
	background: #FF0000;
	border-radius: 4px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 12px;	
}
/*-----Footer-----*/
.footer__content {
	margin: 40px 105px 29px 0px;	
	line-height: 20px;	
	letter-spacing: 2.4px;
	text-align: right;
}