.card {
	flex: 0 1 15%;
	padding: 10px;
	background-color: #ffffff;
	box-shadow:  0 2px 5px rgba(48,48,48,.05);
	border-radius: 5px;
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		padding: 10px;
		position: relative;
	}
	&__img {
		align-self: center;
		position: relative;
		width: 265px;
		height: 300px;
	}

	&__img  img{
		position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	object-fit: cover;
 }	

	&__name {
		align-self: center;
		font-size: 18px;
		font-weight: bold;
	}

	&__article, &__color, &__price  {
		font-size: 16px;
		font-weight: 600;
	}

	&__article span, &__color span, &__price span  {
		font-size: 17px;
		font-style: italic;
		font-weight: 700;
		padding-left: 10px;
	}

	&__btn-and-fave {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
		padding: 5px;
		position:relative;
	}

	&__basket {
		position: absolute;
    	top: 10px;
    	left: 175px;
	}

	&__btn-cross {
		position: absolute;
		top: -8px;
		right: -15px;
		z-index: 2;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}

//Home Page

.home-card {
	flex: 0 1 15%;
	padding: 10px;
	background-color: #ffffff;
	box-shadow:  0 2px 5px rgba(48,48,48,.05);
	border-radius: 5px;
	width: 850px;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		padding: 10px;
		position: relative;
	}
	&__img {
		align-self: center;
		position: relative;
		width: 135px;
		height: 145px;
	}

	&__img  img{
		position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	object-fit: cover;
 }	

	&__name {
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		width: 120px;
		box-shadow:  0 2px 5px rgba(48,48,48,.05);
		border-radius: 5px;
		padding: 14px 2px;
	}

	&__article, &__color, &__price  {
		font-size: 16px;
		font-weight: 600;
		width: 80px;
		text-align: center;
		box-shadow:  0 2px 5px rgba(48,48,48,.05);
		border-radius: 5px;
		padding: 5px 2px;
	}

	&__article span, &__color span, &__price span  {
		font-size: 17px;
		font-style: italic;
		font-weight: 700;
		// padding-left: 10px;
	}

	&__btn-and-fave {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 50px;
		padding: 5px;
		position:relative;
	}

	&__basket {
		position: absolute;
    	top: 10px;
    	left: 155px;
	}

	&__btn-cross {
		position: absolute;
		top: -8px;
		right: -15px;
		z-index: 2;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}