.header {
	min-height: 90px;
	background-color: #ffe048ef;
	&__container{
		display: flex;
		justify-content: space-between;
		align-self: center;
		// padding: 10px;
		height: 100%;
	}
	&__logo {
		position: relative;
		height: 70px;
		width: 150px;
		border: 2px solid #ffd500;
		border-radius: 10px;
	}
	&__logo  img{
		position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	object-fit: cover;
 }
	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding: 0 20px;
	}
	&__fave{
		display: flex;
		align-items: center;
		position: relative;
	}
	&__basket {
		position: relative;
	}
}

.span-fave {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 22px;
	right: -10px;
	border-radius: 50%;
	color: #ffd500;
	font-size: 12px;
	font-weight:bold;
}

.span-cart {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 24px;
	right: -10px;
	border-radius: 50%;
	color: #ffd500;
	font-size: 12px;
	font-weight:bold;
}