 /*-----Обгортка-----*/
 .wrapper {
	min-height: 100%;
	overflow: hidden;
	background-image: url('../img/background_mh.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
/*-----Контейнер-----*/
.container {
	max-width: 1030px;
	margin: 0 auto;
}
/*-----Клас модифікатор для картинок-----*/
.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*--------Header--------*/
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 46px;
	margin-bottom: 17px;
}
.logo {
	display: flex;
	align-items: center;
	position: relative;
}
.logo:hover .logo__content {
	color: #F26522;
}
.logo:hover .img-white {
	opacity: 0;
}
.logo:hover .img-orange {
	opacity: 1;
}
.img-white {
	transition: all 0.3s ease 0s;
}
.img-orange {
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.logo__content {
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	transition: color 0.3s ease 0s;
}
.logo__title:first-child {	
	font-weight: 700;
	font-size: 29px;
	line-height: 29px;
	margin-bottom: 5px;
}
.logo__title:last-child {
	font-weight: 700;
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.contact__mail {
	margin-bottom: 19px;
	transition: all 0.3s ease 0s;
}
.contact__mail:hover {
	color: #F26522;
}
.contact__phone {
	transition: all 0.3s ease 0s;
}
.contact__phone:hover {
	color: #F26522;
}
/* -----Main----- */
.services__body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 37px 55px;
}
.item-services {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;	
}
.item-services:hover .block-hover {
	height: 55px;
}
.item-services:hover .item-services__desc {
	color: #F26522
}
.item-services__img {
	padding-top: 73.33%;
	border: 2px solid transparent;
	border-image: linear-gradient(to top, transparent 0%, #FFFFFF 100%);
	border-image-slice: 2;
}
.item-services__desc {
	text-align: center;
	margin-top: 20px;
	transition: all 0.3s ease 0s;
}
.block-hover {
	height: 0;
	background-color: #F26522;
	position: absolute;
	overflow: hidden;
   width: 100%;
   bottom: 15%;	
	display: flex;
	justify-content: space-between;
	transition: all 0.4s linear 0s;
}
.block-hover__content {
	margin-right: 128px;
	display: flex;
	flex-direction: column;
	padding: 6px 0px 12px 16px;
}
.block-hover__text {
	font-size: 10px;
	line-height: 10px;	
	margin-bottom: 7px;
}
.block-hover__price {
	font-size: 20px;
	line-height: 20px;
}
.block-hover__info {
	font-size: 14px;
	line-height: 14px;
	align-self: flex-end;
	padding: 0px 37px 12px 0px;
	position: relative;
}
.block-hover__info::after {
	content: url('../img/arrow.svg');
	position: absolute;
	right: 16px;
}
/* -----Footer----- */
.footer {
	margin: 48px 0px 15px 0px;
}
.footer__container {
	display: flex;
	justify-content: center;	
}
.footer__info {	
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding: 3px 2px;
}