.footer {
	background-color: $background-color-black;
}
.body-footer {
	@include flex-center-column;
	padding: 68px 0 70px 0;
	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		color: $white-color-FE;
		margin-bottom: 22px;
		@media (max-width:480px) {
			font-size: 14px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		color: $grey-color-B9;
		padding: 0 243px;
		@media (max-width:992px) {
			padding: 0 15px;
		}
		span {
			@media (max-width:480px) {
				display: none;
			}
		}
		@media (max-width:480px) {
			font-size: 12px;
			ine-height: 20px;
			padding: 0 30px;
		}
	}
}
.socials-footer {
	@include flex-space-between;
	margin: 37px 0 34px 0;
	&__item:nth-child(even) {
		padding: 0px 5px 0px 0px;
	}
	&__item:nth-child(odd):not(:last-child) {
		padding: 0px 6px 0px 0px;
	}
}
.contacts-footer {
	@include flex-center;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: $grey-color-B9;
	@media (max-width:768px) {
		flex-wrap: wrap;
	}
	@media (max-width:480px) {
		font-size: 14px;
		line-height: 24px;
		padding: 0;
		flex-direction: column;
	}
	&__link {
		position: relative;
		&:first-child {
			margin-right: 32px;
		}
		&:first-child::after {
			content: '/';
			position: absolute;
			left: 235px;
			top: 0;
			@media (max-width:480px) {
				left: 208px;
			}
		}
		&:nth-child(2) {
			margin-right: 32px;
		}
		&:nth-child(2)::after {
			content: '/';
			position: absolute;
			left: 173px;
			top: 0;
			@media (max-width:480px) {
				left: 153px;
			}
		}
	}		
}

