.header {
	&__container {
		position: relative;
	}
	&__menu {
		// position: relative;
		margin: 29px 0 34px 0;
		@media (max-width:992px) {
			margin: 23px 0 28px 0;
		}
		@media (max-width:768px) {
			display: flex;
			justify-content: end;
		}
		@media (max-width:480px) {
			margin: 23px 0 23px 0;
		}
	}
	&__image {
		padding: 0 0 47% 0;
		margin-bottom: 69px;
		@media (max-width:480px) {
			margin-bottom: 38px;
		}
	}
}
.menu {
	&__icon {
		display: none;
		@media (max-width: 768px) {
			z-index: 5;
			display: block;
			position: relative;
			width: 44px;
			height: 37px;
			cursor: pointer;
			background-color: #000000;
			align-self: flex-end;
		}
		span {
			@media (max-width: 768px){
				@include burger-icon;
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
		}
		&::before {
			@media (max-width: 768px){
				@include burger-icon;
				content: "";
				top: 14px;
			}
		}
		&::after {
			@media (max-width: 768px){
				@include burger-icon;
				content: "";
				bottom: 13px;
			}
		}
	
	}
	&__icon.active {
		span {
			@media (max-width:768px) {
				transform: scale(0) translate(0px, -50%);
			}
		}
		&::before {
			@media (max-width:768px) {
				top: 49%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
		}
		&::after {
			@media (max-width:768px) {
				bottom: 49%;
				transform: rotate(45deg) translate(0px, 50%);
			}
		}
	}
	&__list {
		@include flex-center;
		line-height: 22px;
		letter-spacing: 1.1px;
		text-transform: uppercase;
		@media (max-width:768px) {
			position: absolute;
			top: 37px;
			right: -100%;
			width: 52%;
			height: 98.87%;
			background-color: #f5f5f5;
			transition: right .5s ease 0s;
			overflow: auto;
			z-index: 5;			
			flex-direction: column;
			align-items: start;
			justify-content: space-between;
			padding: 5px 0;
		}	
	}
	&__list.active {
		right: 15px;
	}
	&__item {
		padding: 16px 34px 17px 34px;
		transition: all 0.3s ease 0s;
		:hover {
			color: #57A4A4;			
		}
		@media (max-width:992px) {
			padding: 16px 17px 17px 17px;
		}
		@media (max-width:768px) {
			padding: 0 13px;
		}
	}
	&__link {
		display: block;
	}

}