.posts {

	&__title {
		margin-bottom: 24px;
		@media (max-width:480px) {
			font-size: 14px;
		}
	}

	&__body {
		@include flex-space-between;
		flex-wrap: wrap;
		margin-bottom: 35px;
		@media (max-width:480px) {
			margin-bottom: 11px;
		}
	}

	&__column {
		flex: 0 1 48%;
		margin-bottom: 32px;
		@media (max-width:992px) {
			flex: 0 1 76%;
		}
		@media (max-width:768px) {
			flex: 0 1 100%;
		}
	}

	&__content {
		@include flex-posts-column;		
	}
}

.item-posts {
	@include flex-posts-center;	
	&__image {
		margin-right: 20px;
	}
	@media (max-width:480px) {
		flex-direction: column;
	}
}
.content-posts {
	@media (max-width:480px) {
		margin-top: 11px;
	}
	&__title {
		@include title-bold;
		@media (max-width:480px) {
			font-size: 14px;
		}
	}

	&__desc {
		font-size: 12px;
		line-height: 20px;
		color: $black-color-7C;
		margin: 1px 0 13px 0;
		span {
			margin: 0 5px;
		}
		@media (max-width:480px) {
			font-size: 11px;
			margin: 1px 0 0 0;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 26px;
		color: $black-color-5C;
		@media (max-width:480px) {
			display: none;
		}
	}
}

