.shots {
	background-color: rgba(0, 0, 0,.03);
	@media (max-width:480px) {
		background-color: $main-background-color;
	}

	&__body {
		@include flex-space-between;
		gap: 10px;
		padding-bottom: 49px;
		@media (max-width:480px) {
			padding-bottom: 42px;
		}
	}

	&__item {
		flex: 0 1 25%;
		padding: 0 0 24.36% 0;	
		@media (max-width:992px) {
			flex: 0 1 32.5%;
    		padding: 0 0 32.5% 0;
		}
		@media (max-width:480px) {
			flex: 0 1 94%;
    		padding: 0px 0 94% 0;
		}
	}
	&__item:last-child {
		@media (max-width:992px) {			
			display: none
		}
	}
	&__item:nth-child(2),
	&__item:nth-child(3) {
		@media (max-width:480px) {			
			display: none
		}
	}
}
.info-shots {
	@include flex-space-between;
	padding: 47px 0 24px 0;
	@media (max-width:480px) {
		padding: 38px 0 13px 0;
	}
	&__title {
		@media (max-width:480px) {			
			font-size: 14px;
		}
	}

	&__link {
		font-weight: 700;
		font-size: 13px;
		line-height: 22px;
		text-transform: uppercase;
		@media (max-width:480px) {			
			display: none
		}
	}
}

