.container {
	margin: 100px 0;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.image-to-show {
	/* width: 400px;
	height: 400px; */
	display: none;
 }
.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.images-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 }

 .active {
	display: block;
	width: 500px;
	height: 500px;
}

.buttons-wrapper {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.stop, .show{
	border-radius: 10px;
	padding: 5px;
	width: 120px;
	cursor: pointer;
}

.fade-in-out {
	animation: fadeIn 0.5s ease 0s, fadeOut 0.5s ease 2.5s;
} 
 
 @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
 }
 
 @keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
 }
 