.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		background-color: #E74C3C;
		color: #FFFFFF;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		width: 500px;
		position: relative;
	}
	&__header {
		background-color: #D44637;
		margin: 0;
		padding: 20px;
		font-size: 22px;
		
	}
	&__xbtn {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
	&__text {
		margin: 30px 0;
		text-align: center;
		padding: 20px;
	}
	&__btn {
		display: flex;
		gap: 15px;
		justify-content: center;
		align-items: center;
		margin: 30px 0;
	}
}

.btn-ok, .btn-cancel {
	background-color: #B3382C;
	color: #FFFFFF;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}