.card {
		&__btn-basket {
			  background-color: #e31837;
			  color: #fff;
			  border: 2px solid #e31837;
			  border-radius: 4px;
			  padding: 10px;
			  font-size: 14px;
			  font-weight: bold;
			  cursor: pointer;
			  margin:auto;
			  transition: all 0.3s ease 0s;
		
			  &:hover {
				 opacity: .8;
			  }
	 }
	 
		 &__btn-fave{
			 background-color: transparent;
			 border: none;
			 margin:auto;
			 cursor: pointer;
	 }
 }

 //Home Page

 .home-card {
	&__btn-basket {
		  background-color: #e31837;
		  color: #fff;
		  border: 2px solid #e31837;
		  border-radius: 4px;
		  padding: 10px 5px;
		  font-size: 13px;
		  font-weight: bold;
		  cursor: pointer;
		  margin:auto;
		  transition: all 0.3s ease 0s;
	
		  &:hover {
			 opacity: .8;
		  }
 }
 
	 &__btn-fave{
		 background-color: transparent;
		 border: none;
		 margin:auto;
		 cursor: pointer;
 }
}