.btn {
	&__primary {
		margin: 20px;
		padding: 10px;
		border-radius: 15px;
		cursor: pointer;
		transition: all 0.2s ease 0s;
		width: 170px;
		font-weight: bold;
		box-sizing: border-box;

		&:hover {
			transform: scaleX(1.1);
			font-size: 15px;			
			padding: 12px 10px;
			border: 2px solid #000000;
			border-radius: 20px;
			text-decoration: none;
			margin: 15px 20px;
		}		
	}
}

.first-btn {
	box-shadow: 0 -1px 12px 5px #91E791;
	transition: all 0.3s ease 0s;
	&:hover {		
		background-image: linear-gradient( #CEF7CE, #69F169);
	}
}

.second-btn {
	box-shadow: 0 -1px 12px 5px #e2adda;
	transition: all 0.3s ease 0s;
	&:hover {		
		background-image: linear-gradient( #EFCFEA, #D78DCC);
	}
}