.cards__body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	background-color: rgb(251, 251, 251);
	padding: 20px;
	flex: 1 50%;
}

.home-cards__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// flex-wrap: wrap;
	gap: 15px;
	background-color: rgb(251, 251, 251);
	padding: 20px 5px;
	flex: 1 50%;
}