/* -----Підключення шрифтів----- */
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/gilam-bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/gilam-regular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/gilam-book.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilam';
	font-display: swap;
	src: url("../fonts/gilam-semi-bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	font-display: swap;
	src: url("../fonts/circe-regular.otf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
/* -----Підключення іконкового шрифту----- */
@font-face {
	font-family: 'icons';
	src:  url('../fonts/icons.eot?2tw7ke');
	src:  url('../fonts/icons.eot?2tw7ke#iefix') format('embedded-opentype'),
	  url('../fonts/icons.ttf?2tw7ke') format('truetype'),
	  url('../fonts/icons.woff?2tw7ke') format('woff'),
	  url('../fonts/icons.svg?2tw7ke#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
 }
 
 [class^="icon-"]::before, [class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
 
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 } 

 /*-----Обгортка-----*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/*-----Контейнер-----*/
.container {
	max-width: 1460px;
	margin: 0 auto;
}
/* -----Загальні налаштування кнопки -----*/
.button {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	padding: 9px 0px;
   color: #E4B564;
   border: 1px solid #E4B564;
}
/*--------Header--------*/
.header {
	background: #0E0E0E;
	padding: 37px 0px 40px 0px;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__button-callback {
	padding-right: 27px;
}
.icon-phone:before {
	content: "\e900";
	color: #e4b564;
	padding: 0px 10px 0px 27px;
 }
 /*--------Main--------*/

/*-----Services-----*/
.services {
	padding-top: 80px;
	padding-bottom: 67px;
	background-image: url('../img/background/header-bg.jpeg');
	background-attachment: fixed;
}
.services__title {
	font-size: 50px;
	line-height: 28px;
	font-weight: 700;
}
.services__text {
	line-height: 28px;
	margin: 41px 278px 41px 0px;;
}
.services__body {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 468px);
	gap: 30px;
}
.services__item {
	line-height: 28px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 43px;	
}
.services__item:first-child {
	background: #634F2C;
	grid-column: span 2;
}
.services__item:nth-child(2) {
	background: #B4A385;
	grid-column: 3 / span 2;
}
.services__item:nth-child(3) {
	background: #E4B564;
	grid-column: 5 / span 2;
}
.services__item:nth-child(4) {
	background: #635A4A;
	grid-column: span 3;
}
.services__item:last-child {
	background: #B08C4D;
	grid-column: 4 / span 3;
}
/*-----Machinery-----*/
.machinery {
	background-image: url('../img/background/parallax-bg.jpeg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	padding-bottom: 191px;
}
.machinery__title {
	font-weight: 700;
	font-size: 50px;
	line-height: 28px;
	padding: 94px 0px;
	}
.machinery__body {
	display: grid;
	grid-template-columns: repeat(3, 467px);
	grid-template-rows: 255px 58px 126px 129px 1fr 20px;
	column-gap:30px;
	min-height: 897px;
}
.machinery__item {
	line-height: 25px;
	padding: 44px 0px 0px 48px;
	font-weight: 500;
}
.machinery__item span {
	font-weight: 700;
}
.machinery__item:first-child {
	background: #0E0E0E;
	grid-row: span 2;
	padding-right: 174px;
	font-weight: 400;
}
.machinery__item:nth-child(2) {
	background: #242424;
	grid-column: 2 / 3;
	grid-row: 1 / span 3;
	padding-right: 80px;
	font-weight: 400;
}
.machinery__item:nth-child(3) {
	background: #1F1F1F;
}
.machinery__item:nth-child(4) {
	background:  #1F1F1F;
	grid-column: 1 / 2;
	grid-row: 3 / span 4;
	margin-top: 24px;
}
.machinery__item:nth-child(5) {
	background:  #E4B564;
	color: #000000;
	grid-column: 2 / 3;
	grid-row: 4 / span 2;
	margin-top: 33px;
}
.machinery__item:nth-child(6) {
	background:  #0E0E0E;	
	grid-column: 3 / 4;
	grid-row: 2 / span 3;
	margin-top: 26px;
   padding-bottom: 269px;
}
.machinery__item:last-child {
	background:  #0A0909;	
	grid-column: 3 / 4;
	grid-row: 5 / span 2;
	font-weight: 700;
	margin-top: 52px;
}
/*-----Clients-----*/
.clients {
	background-image: url('../img/background/header-bg.jpeg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	padding: 170px 0px 238px 0px;
}
.clients__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 72px;
}
.clients__title {
	font-weight: 700;
	font-size: 50px;
	line-height: 28px;	
}
.clients__button {
	padding-left: 40px;
	padding-right: 40px;
}
.clients__body {
	display: flex;
	flex-wrap: wrap;
}
.clients__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-clients {
	flex-basis: 33.333%;
}
.item-clients:first-child, .item-clients:last-child {
	background: #634F2C;
	padding: 171px 151px;
}
.item-clients:nth-child(2){
	background: rgba(232, 210, 171, 0.76);
}
.item-clients:nth-child(3) {
	background: #E4B564;
}
.item-clients:nth-child(4) {
	background: #635A4A;
}
.item-clients:nth-child(5) {
	background: #B08C4D;
}
.item-clients__text {
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
	padding: 16px 80px 0px 80px;
}
.item-clients__text span {
	font-weight: 400;
}