/*-----Обгортка-----*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	> main {
		flex: 1 1 auto;
	}	
}
/*-----Обмежуючий контейнер-----*/
[class*="__container"] {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 15px;
}
/*-----Стилі для респонсів картинок-----*/
[class*="--ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
/*-----Стилі для тайтлів в секціях мейну-----*/
[class*="--title"] {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: left;
}