@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-center-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@mixin flex-posts-column {
	display: flex;
	flex-direction: column;
}
@mixin flex-posts-center {
	display: flex;
	justify-content: center;
}
@mixin title-bold {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
}

@mixin title-bold-768 {
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
}
@mixin burger-icon {
	position: absolute;
	height: 2px;
	width: 17px;
	left: 13px;
	transition: all 0.3s ease 0s;
	background-color: #FFFFFF;
}