$maxWidthContainer:1200px;

$main-font-size: 11px;
$main-font-wait: 400;

$main-color-text-4E: #4E4E4E;
$black-color-7C: #7C7C7C;
$black-color-5C: #5C5C5C;
$grey-color-B9: #B9B9B9;
$white-color-FE: #FEFEFE;

$main-background-color: #FFFFFF;
$background-color-black: #000000;

