#root {
	margin: 35px auto;
	max-width: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 10px;
	font-family: 'Roboto';
	position: relative;
}

.btn {
	margin: 20px 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	/* position: absolute; */
	top: 15px;
	font-size: 20px;
	padding: 3px 7px ;
}

.btn:hover {
	padding: 5px 10px;
}
              
